<template>
  <div class="quiz">
    <div style="height:120px">
    <h2 v-html="returnQuestions[index].question"></h2>
    </div>
    <div v-for="answer in allAnswers" v-bind:key="answer">
      <button class="answerButtons" @click="submitAnswer(answer)" v-html="answer"></button>
      <br>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";
import router from "../router";
export default {
  name: 'QuizScreen',
  computed:{
    ...mapGetters(['returnQuestions','returnScore'])
  },
  data(){
    return{
      index: -1,
      allAnswers: []
    }
  },
  async created(){
    if(this.allAnswers.length === 0) this.fillAlternatives();
  },

  methods : {
    ...mapActions(['updateScore','addAnswerToQuestion', 'updateHighscore']),
    fillAlternatives(){
      this.index++
      this.allAnswers = this.returnQuestions[this.index].incorrect_answers
      let rightPlaceIndex = Math.floor(Math.random() * this.allAnswers.length)
      this.allAnswers.splice(rightPlaceIndex,0,this.returnQuestions[this.index].correct_answer)
    },
    async submitAnswer(answer){

      const questionIndex = this.index;

      this.addAnswerToQuestion({answer,questionIndex})
      if(this.returnQuestions[this.index].correct_answer === answer) this.updateScore();
      if(this.index  === this.returnQuestions.length-1){
        await this.updateHighscore()
        return await router.push("result");
      }
      this.fillAlternatives();

    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

