<template>
  <div class="quiz">
    <h1>Correct Answer: {{this.returnScore}}<br> Total Questions: {{this.returnQuestions.length}}</h1>

    <div v-for="questionObject in this.returnQuestions" v-bind:key="questionObject.question">
      <div class="summaryField">
        <div class="summaryQuestion" v-html="questionObject.question"></div>
        Your Answer: <span v-if="questionObject.answer === questionObject.correct_answer" class="summaryCorrect" v-html="questionObject.answer"></span>
        <span v-else class="summaryWrong" v-html="questionObject.answer"></span>        <br>
        Correct Answer: <span class="summaryCorrect" v-html="questionObject.correct_answer"></span>
        <br>
      </div>
    </div>
    <br>
    <br>
    <button class="replayButton" @click="replaySameConfig">Replay with same config</button>
    <br>
    <button class="replayButton" @click="restart">Restart</button>
  </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";
import router from "@/router";
export default {
  name: 'QuizScreen',
  computed:{
    ...mapGetters(['returnScore','returnQuestions','returnDifficulty','returnCategoryId'])
  },

  methods:{
    ...mapActions(['setState','getTriviaQuestions']),
    async restart(){

      this.setState();


      return await router.push("Start")


    },
    async replaySameConfig(){
      const categoryId = this.returnCategoryId;
      const difficulty = this.returnDifficulty;
      const numberOfQuestions = this.returnQuestions.length
      const payload = {categoryId,difficulty,numberOfQuestions}


      await this.getTriviaQuestions(payload);
      await router.push("Quiz")
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

