<template>
  <div class="hello">
    <h1>Welcome to Quiz</h1>
    <form>
      <label for="username"></label>
      <br/>
      <input  class="input_selection" type="text" id="username" name="name" placeholder="Username" v-model="username">
      <br>
      <select  class="input_selection" id="category" v-model="payload.categoryId">
        <option disabled selected> Category</option>
        <option v-for="category in categories.trivia_categories" :value="category.id" v-bind:key="category.id">{{category.name}}</option>
      </select>

      <br>
      <select class="input_selection" v-model="payload.difficulty" >
        <option :value="null" disabled selected>Difficulty</option>
        <option v-for="difficulty in difficulties" :value="difficulty" v-bind:key="difficulty">{{difficulty}}</option>
      </select>
      <br>
      <input class="input_selection" type="text" v-model="payload.numberOfQuestions" name="nrOfQuestions" placeholder="Number of Questions" >
      <br>
      <button class="submitButton" type="button" @click="onsubmitName">submit</button>
    </form>

  </div>
</template>

<script>
import {mapActions} from 'vuex'
import {quizApi} from "../api/quizApi";
import router from "../router";


export default {
    name: 'StartScreen',
    props: {
    msg: String,
  },
  data (){
    return{
      username:"",
      categories:[],
      difficulties: ["Easy", "Medium", "Hard"],
      payload : {
        numberOfQuestions: 0,
        categoryId:0,
        difficulty:"",
      }
    }
  },
  async created(){
    this.categories = await quizApi.getCategories();
  },
  methods : {
    ...mapActions(['register', 'getTriviaQuestions','setCategoryIdAndDifficulty']),
    async onsubmitName(){
      await this.getTriviaQuestions(this.payload)
      await this.register(this.username);
      const categoryId = this.payload.categoryId;
      const difficulty = this.payload.difficulty;
      this.setCategoryIdAndDifficulty({categoryId,difficulty})

      await router.push("Quiz")

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

