h1{
    color: black;
    margin-bottom: 35px;
}
h2{
    color: black;
}
.input_selection{
    width: 35%;
    max-width: 300px;
    min-width: 250px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5px;
    border-radius: 7px;
    height: 30px;
}
.answerButtons{
    width: 45%;
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 7px;
    height: 30px;
    background-color: #ffb5f9;
}

.submitButton{
    margin-top: 10px;
}

body{
    background-color: #62279a;
    color: black;
}
.summaryQuestion{
    color: black
}
.summaryCorrect{
    color: #4bcc17;
}
.summaryWrong{
    color: #7e0303;
}
.summaryField{
    background-color: #6F3F96FF;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 70%;
    height: 70px;
    border-radius: 15px;
    box-shadow: 0 0 0 1pt grey;
    margin-bottom: 15px;
}
.replayButton{
    background-color: #ffb5f9;
    width: 120px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
    height: 45px;

}